@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('./fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype')
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  margin: 0;
}

header {
  display: flex ;
  align-items: center;
  justify-content: center;
  background: #F55A5A;
  padding: 1rem;
}

.globe {
  width: 3rem;
  height: 3rem;
  color: #FFFFFF;
  margin-right: 0.5rem;
}

h1.title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.card{
  display: flex;
}

.card-img {
  height: 250px;
  width: 160px;
}

.location {
  display: flex;
}

/* <article className="card">
<img className="card-img" src="https://images.unsplash.com/photo-1504963394739-cc0883df542c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="galapagos sea lion" />
<div className="content">
    <div className="location">
        <img className="location-logo" src={location} alt="" />
        <p>Japan</p>
        <a href="google.com">View on Google Maps</a>
    </div>
    <div className="date">15 Dec, 2020 - 30 Dec, 2020</div>
    <p className="text">The Galapagos Islands are known for their fearless and curious wildlife. You can’t find another place in the world where sea lions will play with you in the water, iguanas pose for pictures, and sea birds walk right up to you.</p>
</div>
</article> */