@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('./fonts/inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype')
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  margin: 0;
}

header {
  display: flex ;
  align-items: center;
  justify-content: center;
  background: #F55A5A;
  padding: 1rem;
}

.globe {
  width: 3rem;
  height: 3rem;
  color: #FFFFFF;
  margin-right: 0.5rem;
}

h1.title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
.card{
  display: flex;
  padding: 5rem 4rem;
}

@media screen and (min-width: 650px) {
  .card-img {
    height: auto;
    width: 175px;
    object-fit: cover;
    border-radius: 5px;
  }
}

@media screen and (max-width: 650px) {
  .card-img {
    height: auto;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.card > .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.location-logo {
  height: 1rem;
  margin-right: 0.5rem;
}

.location > p {
  margin: 0;
  letter-spacing: 0.17em;
  color: #2B283A;
  margin-right: 1rem;
}

.location > a {
  color: #918E9B;
}

h1.card-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #2B283A;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
}

.card > div.content > div.date {
  font-weight: 700;
  font-size: 1rem;
  color: #2B283A;
  margin-top: 1.5rem;
}

.card > div.content > p.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #2B283A;
}

